<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Apertis statistics</title>
  </head>
  <body>
    <main role="main" class="container">
      <h2>Statistics</h2>
      <hr />

      <ul class="list-inline">
        {% for filename in files %}
        <li class="list-inline-item">
          <a href="./{{ filename }}">{{ filename }}</a>
        {% endfor %}
      </ul>

      <div class="container">
        <div class="row justify-content-start">
          <div class="col-auto">
            <h4>Merge requests</h4>
            <table class="table">
              <tr>
                <th scope="col">Q</th>
                <th scope="col"># of merged</th>
              </tr>
              {% for quarter, mergerequests in mergerequests_merged_by_quarter|dictsort(reverse=true) %}
              <tr>
                <td>{{quarter}}</td>
                <td>{{mergerequests|length}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>

          <div class="col-auto">
            <h4>Pipelines</h4>
            <table class="table">
              <tr>
                <th scope="col">Q</th>
                <th scope="col"># of successful</th>
              </tr>
              {% for quarter, pipelines in pipelines_successful_by_quarter|dictsort(reverse=true) %}
              <tr>
                <td>{{quarter}}</td>
                <td>{{pipelines|length}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>

          <div class="col-auto">
            <h4>Package updates</h4>
            <table class="table">
              <tr>
                <th scope="col">Q</th>
                <th scope="col"># of updates</th>
              </tr>
              {% for quarter, updates in packageupdates_by_quarter|dictsort(reverse=true) %}
              <tr>
                <td>{{quarter}}</td>
                <td>{{updates|length}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>

          <div class="col-auto">
            <h4>Package by channel</h4>
            <table class="table">
              <tr>
                <th scope="col">Channel</th>
                <th scope="col"># of packages</th>
              </tr>
              {% for channel, packages in packages_by_channel|dictsort(reverse=true) %}
              <tr>
                <td>{{channel}}</td>
                <td>{{packages|length}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
